body{
    width: 100%;
    background-color: #f8f8f8;}
.logo{
    margin: 50px auto; 
    display: block; 
    width: 200px; 
    height: 47px;}

.logo img{width: 80%;}
#col2{width: 100%;}
form{
    background: #fff;
    width: 80%;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .3);
}
.login_input{
padding: 10px;
margin: 20px 0;
box-sizing: border-box;
}
input{
   padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}
#id_pw_input h2{
   font-size: 2em;
   text-align: center;
   margin: 10px 0 50px 0;
}
#id_pw_input ul li input{
    padding: 15px 5px;
    margin-left: 50%;
    transform: translateX(-50%);
}

button{
    display: block;
    border: 1px solid #3672c3;
    background-color: #fff;
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    margin: 30px auto;
    cursor: pointer;
}
button:hover{
    background-color: #3672c3;
    color: #fff;}



#join_button{
    font-size: 14px;
    text-align: center;
}
#join_button a:hover{
    text-decoration: underline;
}


form>ul{
    margin: 30px 0;
    text-align: center;
}
form>ul li span:first-child{
    margin-left: 15px;
    position: relative;
}
form>ul li span:first-child::after{
content: '';
display: block;
width: 1px;
height: 20px;
background: #ccc;
position: absolute;
top: 3px;
right: -3px;
}
form>ul li{
     margin: 20px 0;
}
form>ul li a{
   
    padding: 5px 10px;}
form>ul li a:hover{
    text-decoration: underline;
}



/* id_find */


#title p{
   font-size: 14px;
   color: #999;
   text-align: center;
}
#title p span{
    color: #333;
    display: block;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;
    position: relative;
}
#title p span::after{
    display: block;
    content: "";
    width: 60px;
    height: 4px;
    background: #00943a;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
#id_input_button{
width: 253px;
margin: 0 auto;
}

#id_pw_input h2{
    position: relative;
}
#id_pw_input h2::after{
    display: block;
    content: "";
    width: 40px;
    height: 4px;
    background: #00943a;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}
#login2 {
    width: 95%;
    margin: 50px auto;
}
#login2 fieldset {
    width: 100%;
    margin: 0 auto;
}
#login2 fieldset label{
    margin-right: 15px;
    padding: 5px 10px;
    width: 40px;
    display: block;
}
#name{
    width:190px;
}
#id{
    width:190px;
}

#hp1{
    width: 55px;
    height: 30px;
}
fieldset input{
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
}
fieldset input.hp{
    width: 55px;
}



input.find{
    display: block;
    border: 1px solid #3672c3;
    background-color: #fff;
    width: 100px;
    padding: 10px 0;
    border-radius: 20px;
    margin: 30px auto;
    cursor: pointer;
}
input.find:hover{
    background-color: #3672c3;
    color: #fff;}
ul.go li:last-child{
    font-size: 14px;
    margin: 20px 0;
    cursor: pointer;
}
ul.go li:last-child:hover{
    text-decoration: underline;
}

ul.go{text-align: center;}
ul.go li a.loggo {
    background-image: linear-gradient(
        to right,
        #3672c3,
        #3672c3 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    }
  
ul.go li a.loggo:before {
    content: '';
    background: #3672c3;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
    }
    
ul.go li a.loggo:hover {
    background-position: 0;
    }
    
ul.go li a.loggo:hover::before {
    width:100%;
    }




.loadtexton{
    display: block;
    background: #f8f8f8;
    padding: 20px 100px;
    margin: 50px 0;
    line-height: 2em;
}